@model IEnumerable<Bookstore.Entities.Category>

<h1>Category</h1>
<hr />

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th> Id </th>
            <th> Name </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => category.Id) </td>
                <td> @Html.DisplayFor(modelItem => category.Name) </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-secondary btn-block">
                        <i class="fas fa-edit"></i> &nbsp; &nbsp; Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@category.Id" class="btn btn-info btn-block">
                        <i class="fas fa-info"></i> &nbsp; &nbsp; Details
                    </a>
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger btn-block">
                        <i class="fas fa-trash"></i> &nbsp; &nbsp; Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>